.data{
    color: yellow;
    height: 200vh;
    padding-top: 12rem;
}
.data1{
    display: inline-block;
    background-image: url(/data1.jpeg);
    height: 20rem;
    width: 20rem;
}
.data1:hover{
    background-image: url(/data1.jpeg);
    background-size: contain;
    height: 20rem;
    width: 20rem;
}
.data2{
    display: inline-block;
    background-image: url(/data2.png);
    height: 20rem;
    width: 20rem;
}
.data2:hover{
    background-image: url(/data2.png);
    background-size: contain;
    height: 20rem;
    width: 20rem;
}

.data3{
    display: inline-block;
    background-image: url(/data3.png);
    height: 20rem;
    width: 20rem;
}
.data3:hover{
    background-image: url(/data3.png);
    background-size: contain;
    height: 20rem;
    width: 20rem;
}

.data4{
    display: inline-block;
    background-image: url(/data4.png);
    height: 20rem;
    width: 20rem;
}
.data4:hover{
    background-image: url(/data4.png);
    background-size: contain;
    height: 20rem;
    width: 20rem;
}