.info{
    color: wheat;
    height: 200vh;
    padding-top: 12rem;
    display: flex;
    justify-content: center;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Shadows Into Light', cursive;
}


@media (max-width: 600px) {
  .tiTra{font-size: 2.2rem;}
  .li{font-size: 1.2rem;}

    }