
.nav{
  display: flex;
  align-items: center;
  min-height: 5rem;
  /* background-color: rgb(255, 210, 210); */
  color: black;
  border-bottom: 2px solid rgb(0, 0, 0);
  font-family: 'Fredoka', sans-serif;
  opacity: 100%;
  transform: translateY(0%);
  /* animation: nav 0.8s 1 ease-in-out; */
}
/* @keyframes nav{
  0%{
    opacity: 0%;
    transform: translateY(-100%);
  }
  100%{
    opacity: 100%;
    transform: translateY(0%);
  }
} */

.navToggle{
  position: absolute;
  right: 0;
  top: 5rem;
  
  width: 20rem;
  background-color: #bbbbbb;
  border: solid rgb(0, 0, 0) 2px;
  transition: 0.4s;
  opacity: 100%;
  animation: to 0.5s 1 ease-in-out ;
}
@keyframes to {
  from{opacity: 0%;}
  to{opacity: 100%;}
}
.img{
  height: 40px;
  margin-right: 2rem;
  margin-top: 0.3rem;
  cursor: pointer;
}


  .li{
      font-size: 1.5rem;
      color: rgb(0, 0, 0);
      font-weight: 600;
      list-style: none;
      padding: 20px 40px;
      margin-right: 2rem;
  }
  .li:hover{
      background-color: rgb(46, 196, 46);
      cursor: pointer;
  }
  .logo{
    color: rgb(34, 34, 34);
    margin-top: 10px;
    margin-left: 2rem;
    margin-right: auto;
    cursor: pointer;
  }
  

  
@media (max-width: 600px) {
  
 
.nav{
  display: flex;
  align-items: center;
  min-height: 10vh;
  /* background-color: rgb(255, 210, 210); */
  color: black;
  border-bottom: 2px solid rgb(110, 110, 110);
}
.navToggle{
  position: absolute;
  right: 0;
  top: 5.6rem;
  
  width: 12rem;
  background-color: #bbbbbb;
  border: solid rgb(0, 0, 0) 2px;
  transition: 0.4s;
  opacity: 100%;
  animation: to 0.5s 1 ease-in-out ;
}

  .li{
      font-size: 1rem;
      color: rgb(0, 0, 0);
      font-weight: 600;
      list-style: none;
      padding: 10px 20px;
      margin-right: 1rem;
  }
  .li:hover{
      background-color: rgb(50, 202, 30);
      cursor: pointer;
  }
  .logo{
    color: rgb(34, 34, 34);
    margin-left: 1rem;
    margin-right: auto;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
  }
  
}
