.presentation{
    height: 100vh;
    background-color: black;
  }
.plus{
  z-index: 1;
  position: absolute;
  right: 3rem;
  top: 0.3rem;
  display: inline-block;
  /* margin: 1.5rem 0rem 0rem 1.5rem; */
  font-size: 4rem;
  color: rgb(189, 189, 189);
  cursor: pointer;
  transition: 0.1s;
}
.plus:hover{
  display: inline-block;
  font-size: 4rem;
  color: rgb(255, 255, 255);
  cursor: pointer;
}


  .contact{
    z-index: 3;
    position: absolute;
    bottom: 0;
    right: 0;
     /* border: dashed white 4px;  */
    width: 9rem;
    height: 80%;
    overflow: hidden;
  }
 
  .github{
    z-index: 2;
    margin: 2rem;
    height: 5rem;
    width: 5rem;
    background-image: url(/github.png);
    background-size: cover;
    transition: 0.2s;
    animation: ani 0.3s 1 ease-in-out;
  }
  .github:hover{
   transform: scale(1.09) rotate(3deg);
   box-shadow: inset black 0px 0px 0px;
  }

  .insta{
    z-index: 2;
    margin: 2rem;
    height: 5rem;
    width: 5rem;
    background-image: url(/insta.png);
    background-size: cover;
    transition: 0.2s;
    animation: ani 0.6s 1 ease-in-out;
  }
  .insta:hover{
   transform: scale(1.09) rotate(3deg);
   box-shadow: inset black 0px 0px 0px;
  }
  
  .linkedin{
    z-index: 2;
    margin: 2rem;
    height: 5rem;
    width: 5rem;
    background-image: url(/linkedin.png);
    background-size: cover;
    transition: 0.2s;
    animation: ani 0.9s 1 ease-in-out;
    /* box-shadow: inset black 0px 0px 40px; */
  }
  .linkedin:hover{
   transform: scale(1.09) rotate(3deg);
   box-shadow: inset black 0px 0px 0px;
  }
  .twiter{
    z-index: 2;
    margin: 1.97rem;
    height: 4.7rem;
    width: 4.7rem;
    opacity: 100%;
    background-image: url(/twiter.png);
    background-size: cover;
    transition: 0.2s;
    animation: ani 1.2s 1 ease-in-out;
    /* box-shadow: inset black 0px 0px 40px; */
    
  }
  .twiter:hover{
   transform: scale(1.09) rotate(3deg);
   box-shadow: inset black 0px 0px 0px;
  }
  @keyframes ani {
    0%{transform: translateX(20rem);
      opacity: 0%}
    
    50%{transform: scale(1.4);}
    
    100%{transform: translateX(0rem);}
  }

 
  .bgfoto{
    z-index: 1;
    clip-path: polygon(51% 49%, 100% 0%, 100% 100%, 0% 100%);
    position: absolute;
    opacity: 100%;
    bottom: 0;
    right: 0;
    transform: translateX(0rem);
    height: 450px;
    width: 350px;
    background-color: rgb(0, 83, 11);
    animation: bg 1.4s 1 ease-in-out;
  } 
   @keyframes bg {
    0%{opacity: 0%;}
    100%{opacity: 100%;}
  } 

  
  
  
  
  @media screen and (max-width:450px){
  
    .github{
        z-index: 2;
        margin: 2rem;
        height: 5rem;
        width: 5rem;
    }
    .linkedin{
        z-index: 2;
        margin: 2rem;
        height: 5rem;
        width: 5rem;
    }
    .twiter{
        z-index: 2;
        margin: 2rem;
        height: 5rem;
        width: 5rem;
    }
  
    .foto{
        position: absolute;
        left: 2rem;
        top: 2rem;
        background-image: url(/src/img/MR2.jpg);
        background-size: cover;
        height: 100px;
        width: 100px;
    }
    .bg-foto{
        
        clip-path: polygon(51% 49%, 100% 0%, 100% 100%, 0% 100%);
        position: absolute;
        bottom: 0;
        right: 0;
        height: 450px;
        width: 350px;
        background-color: rgb(13, 114, 0);
    }
    .contact{
      
        z-index: 3;
        position: absolute;
        bottom: 0;
        right: 0;
         /* border: dashed white 4px;  */
         width: 9rem;
        height: 30rem;
    }
  }